@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background: url("https://raw.githubusercontent.com/bnkk/wom2/gh-pages/assets/img/background.png") no-repeat center center fixed;
    background-size: cover;
}
